<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>TessieVIN</key>
	<string>YOUR_VIN_HERE</string>
	<key>TessieToken</key>
	<string>YOUR_TESSIE_API_TOKEN_HERE</string>
</dict>
</plist>
